/* 클래스로 정의 */

.inputStyle{
    padding:11px 12px;
    border-radius: 10px;  
    border:1px solid #e3e8f3;  
    outline:none;
}

.primaryBtn{
    padding: 11px 12px;
    border-radius: 10px;
    border: none;
    background: #4f8cff; 
    color:#fff;
    cursor :pointer;
    font-weight:700;
}

.snsBtn{
    width: 100%;
    padding: 11px 12px;
    border-radius: 10px;
    border: 1px solid #d1d5db;
    cursor: pointer;
}